#content-area {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.login-pf body {
    background-image: url('../img/grid_square.png');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 2000px 2000px;
    font-family: futura-pt, sans-serif; 
}


.card-pf {
    display: flex;
    flex-direction: column; 
    min-width: 500px;
    position: relative;
    border-top: unset;
    border-radius: 20px;
    padding-top: 50px !important;
    margin-top: 25px;
    z-index: 1000;
}


@media (max-width: 500px) {
    .card-pf {
        width: 90vw;
        min-width: initial;
    }
}

.login-pf-page {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

/* @media screen and (min-width: 576px) { */
    /* .login-pf-page { */
        /* padding-inline: 10px; */
    /* } */
/* } */


#kc-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kc-info-wrapper {
    background-color: unset;
}

#kc-login {
    color: black;
    border-radius: 10px;
    background-color: unset;
    border: 2px solid #0099d3;
}

#logotop {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75px;
    max-height: 75px;
}

#logobottom {
    width: 25%;
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pf-c-button {
    color: black;
    border-radius: 10px;
    background-color: unset;
    border: 2px solid #0099d3;
}