.login-pf body {
    /* height: 100%; */
    /* min-width: 100vw;
    min-height: 100vh; */
    background-image: url('../img/background-grid.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-pf {
    width: 100%;
    margin: auto;
    /* box-sizing: border-box !important; */
    position: relative;
    border-top: unset;
    border-radius: 20px;
    padding-top: 50px !important;
}

.login-pf-page {
    width: 1000px;
}

#content-area {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logobottom {
    position: absolute;
    bottom: 1%;
    width: 150px;

    left: 50%;
    transform: translate(-50%, -50%);
}

#kc-header-wrapper {
    /* color: black; */
    font-size: 84px;
    text-shadow: black 0px 0px 8px; /* color offset-x offset-y blur-radius */

}
#kc-page-title {
    font-size: 36px;
    font-weight: 400;
}
#kc-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#kc-info-wrapper {
    background-color: unset;
}

#kc-login {
    width: 200px !important;
    color: black;
    border-radius: 10px;
    background-color: unset;
    border: 2px solid #0099d3;
}

#logotop {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}