.login-pf body {
    /* height: 100%; */
    /* min-width: 100vw;
    min-height: 100vh; */
    background-image: url('../img/background-grid.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-pf {
    background-color: #f5f5f5;
    border: 20px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
}

#kc-header-wrapper {
    /* color: black; */
    font-size: 84px;
    text-shadow: black 0px 0px 8px; /* color offset-x offset-y blur-radius */

}